<section class="services">

    <div class="services-header">
        <h3 class="section-title">
            Servicios
        </h3>

        <p class="section-subtitle">
            En LoganWeb tenemos una amplia gama de servicios
        </p>
    </div>


    <div class="service">

        <!-- Hosting -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="../../../assets/image/hosting-logo.svg"
                    alt="Hosting">
            </div>

            <h5>
                Hosting
            </h5>

            <p>
                Servicios de hosting que garantizan un alto
                rendimiento y tiempo de actividad.
            </p>

        </div>


        <!-- Desarrollo Web -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="../../../assets/image/web-developer-logo.svg"
                    alt="Desarrollo Web">
            </div>

            <h5>
                Desarrollo de la web
            </h5>

            <p>
                Desarrollo de sitios web y aplicaciones web
                modernas y funcionales a medida.
            </p>

        </div>


        <!-- SEO -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="../../../assets/image/seo-service-logo.svg"
                    alt="Servicio de SEO">
            </div>

            <h5>
                Servicio de SEO
            </h5>

            <p>
                Servicio de optimización de motores
                de búsqueda.
            </p>

        </div>


        <!-- Gestión -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="../../../assets/image/website-management-logo.svg"
                    alt="Gestión de Sitios Web">
            </div>

            <h5>
                Gestión de Sitios Web
            </h5>

            <p>
                Mantenga su sitio web funcionando al máximo
                rendimiento con nuestros servicios de
                administración y actualización.
            </p>

        </div>

    </div>

</section>
