<h3>Servicios</h3>
<p>En logan web tenemos una amplia gama de servicios</p>
<div class="service">
    <div class="serv-image">
        <img src="../../../assets/image/hosting-logo.svg" alt="Hosting" class="Hosting">
        <h5>Hosting</h5>
        <p>Servicios de hosting garantizan un alto 
            rendimiento y tiempo de actividad.</p>
    </div>
    <div>
        <img src="../../../assets/image/web-developer-logo.svg" alt="Web-Developer" class="Hosting">
        <h5>Desarrollo de la web</h5>
        <p>Saraza</p>
    </div>
    <div>
        <img src="../../../assets/image/seo-service-logo.svg" alt="SEO-Service" class="Hosting">
        <h5>Servicio de CEO</h5>
        <p>Y mas saraza</p>
    </div>
    <div>
        <img src="../../../assets/image/website-management-logo.svg" alt="Web-Management" class="Hosting">
        <h5>Gestión de Sitios Web</h5>
        <p>Mantenga su sitio web funcionando al máximo rendimiento
            con los servicios de administración de 
            sitios web de LoganWeb</p>
    </div>
</div>