<section class="services">

    <div class="services-header">
        <h3 class="section-title">
            {{ 'services.title' | transloco }}
        </h3>

        <p class="section-subtitle">
            {{ 'services.subtitle' | transloco }}
        </p>
    </div>


    <div class="service">

        <!-- Hosting -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="assets/image/hosting-logo.svg"
                    alt="Hosting">
            </div>

            <h5>
                {{ 'services.hosting' | transloco }}
            </h5>

            <p>
                {{ 'services.hostingDescription' | transloco }}
            </p>

        </div>


        <!-- Desarrollo Web -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="assets/image/web-developer-logo.svg"
                    alt="Desarrollo Web">
            </div>

            <h5>
                {{ 'services.webDevelopment' | transloco }}
            </h5>

            <p>
                {{ 'services.webDevelopmentDescription' | transloco }}
            </p>

        </div>


        <!-- SEO -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="assets/image/seo-service-logo.svg"
                    alt="Servicio de SEO">
            </div>

            <h5>
                {{ 'services.seo' | transloco }}
            </h5>

            <p>
                {{ 'services.seoDescription' | transloco }}
            </p>

        </div>


        <!-- Gestión -->
        <div class="service-card">

            <div class="service-icon">
                <img
                    src="assets/image/website-management-logo.svg"
                    alt="Gestión de Sitios Web">
            </div>

            <h5>
                {{ 'services.management' | transloco }}
            </h5>

            <p>
                {{ 'services.managementDescription' | transloco }}
            </p>

        </div>

    </div>

</section>
