
<div class="chat-container">
    <div class="container">
        <div class="admin-chat-container">
            @if (currentAdmin === true) {
                <div class="panel-chat">
                    <div class="chat-list">
                        <h3 class="title">Consultas</h3>
                        @for (chat of chats; track chatId) {
                            <ul
                                type="button"
                                class="chat-user"
                                (click)="selectChat(chat)">
                                <li>
                                    <strong class="bi bi-person-fill name">
                                        {{chat.userName}} {{chat.userLastName}}
                                    </strong>
                                    @if (unreadCounts[chat.id] > 0) {
                                        <span class="unread-badge">
                                            {{ unreadCounts[chat.id] }}
                                        </span>
                                    }
                                </li>
                                <span>
                                    {{chat.email}}
                                </span>
                            </ul>
                        }
                    </div>
                    <div class="chat-conversation">
                        @if (selectedChat) {
                            <h5 class="strong">
                                {{selectedChat.userName}}
                                {{selectedChat.userLastName}}
                            </h5>
                        }

                        @if (!selectedChat) {
                            <h5 class="strong">
                                Seleccione una consulta
                            </h5>
                        }
                            
                        <div class="chat-window" #chatWindow>
                            @for (message of messages; track message.id) {
                                <div
                                    class="message"
                                    [class.mine]="message.user === userId"
                                    [class.other]="message.user !== userId">
                                    {{message.text}}
                                    <div 
                                        class="date"
                                        [class.mine]="message.user === userId"
                                        [class.other]="message.user !== userId">                                        
                                        {{message.createdAt?.toDate
                                            ? (message.createdAt.toDate() | date:'HH:mm')
                                            : (message.createdAt | date:'HH:mm')}}
                                    </div>
                                </div>
                            }
                        </div>
                        <form class="form" [formGroup]="chatForm">
                            <input
                            class="input"
                            type="text"
                            formControlName="message"
                            placeholder="Escribe un mensaje"
                            (focus)="checkLogin()">
                            <button class="btn btn-primary" type="submit" (click)="send()">
                                Enviar
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
        <div class="user">
        @if (currentAdmin === false || !currentAdmin) {
    
                <div class="chat-window" #chatWindow>
                    @for (message of messages; track message.id) {
                        <div
                        class="message"
                        [class.mine]="message.user === userId"
                        [class.other]="message.user !== userId">
                        {{message.text}}
                        </div>
                }
                </div>
                    <form class="form" [formGroup]="chatForm">
                        <input
                        class="input"
                        type="text"
                        formControlName="message"
                        placeholder="Escribe un mensaje"
                        (focus)="checkLogin()">
                        <button class="btn btn-primary" type="submit" (click)="send()">
                            Enviar
                        </button>
                    </form>
                }
        </div>
    </div>
</div>