<section class="repository-card">

    <div class="card">

        <h3>
            <a
                [href]="repository.link"
                target="_blank"
                rel="noopener noreferrer"
                class="repository-name">
                {{ repository.name }}
            </a>
            
        </h3>
        
        <div class="repository-image">

            <img
                [src]="'assets/image/' + repository.image"
                [alt]="repository.name">

        </div>

        <p class="description">
            {{ repository.description }}
        </p>


        <div class="skills">

            <span
                class="skill"
                *ngFor="let skill of skills"
                [title]="skill.data.skillName">

                <img
                    *ngIf="skill.data.img"
                    [src]="skill.data.img"
                    [alt]="skill.data.skillName">

                <i
                    *ngIf="!skill.data.img && skill.data.image"
                    [class]="skill.data.image">
                </i>

            </span>

        </div>

    </div>

</section>

