<footer class="footer bg-dark">

    <div class="container">

        <h5 class="title">
            {{ 'footer.title' | transloco }}
        </h5>

        <div class="sub-container">

            <!-- WhatsApp -->
            <a
                href="https://wa.me/5493816683144"
                target="_blank"
                rel="noopener noreferrer"
                class="social-icon whatsapp"
                [attr.aria-label]="'footer.whatsapp' | transloco">

                <i class="bi bi-whatsapp"></i>

            </a>


            <!-- GitHub -->
            <a
                href="https://github.com/JavierSosaAdm"
                target="_blank"
                rel="noopener noreferrer"
                class="social-icon github"
                [attr.aria-label]="'footer.github' | transloco">

                <i class="bi bi-github"></i>

            </a>


            <!-- LinkedIn -->
            <a
                href="https://www.linkedin.com/in/pablo-javier-sosa-b41510284/"
                target="_blank"
                rel="noopener noreferrer"
                class="social-icon linkedin"
                [attr.aria-label]="'footer.linkedin' | transloco">

                <i class="bi bi-linkedin"></i>

            </a>

        </div>


        <p class="copy">
            &copy; Javier Sosa {{year}}
        </p>

    </div>

</footer>
