<div class="login-form-container">
    <div class="form">
        <form [formGroup]="data" class="row g-3 needs-validation" novalidate (ngSubmit)="login($event)" >
          <div class="mb-3-email">
            <label for="email" class="form-label">{{ 'forms.email' | transloco }}</label>
            <input 
              type="email" 
              class="form-control" 
              id="email" 
              formControlName="email"
              aria-describedby="emailHelp"
              [ngClass]="{
                'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email'),
                'is-valid': data.get('email')?.valid && data.get('email')?.touched
              }"
          >
          <div class="error-container">
            @if (hasErrors('email', 'required')) {
              <span class="text-danger">{{ 'forms.emailRequired' | transloco }}</span>
            }
            @if (hasErrors('email', 'email')) {
              <span class="text-danger">{{ 'forms.emailInvalid' | transloco }}</span>
            }
          </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">{{ 'forms.password' | transloco }}</label>

          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="password"
              formControlName="password"
              aria-describedby="emailHelp"
              [ngClass]="{
                'is-invalid': hasErrors('password', 'required'),
                'is-valid': data.get('password')?.valid && data.get('password')?.touched
              }"
            >

          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="showPassword = !showPassword"
          >
            <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
        </div>
        <div class="error-container">
          @if (hasErrors('password', 'minlength')) {
            <span class="text-danger">{{ 'forms.passwordInvalid' | transloco }}</span>
          }
          
          @if (hasErrors('password', 'required')) {
            <span class="text-danger">
              {{ 'forms.passwordInvalid' | transloco }}
            </span>
          }
        </div>
          </div>
          <div class="btn-container">
            <button 
              type="button"
              class="btn btn-primary-close" 
              data-bs-dismiss="modal">
              {{ 'forms.cancel' | transloco }}
            </button>
            <button type="submit" class="btn btn-primary">{{ 'forms.login' | transloco }}</button>
          </div>
        </form>
    </div>
</div>
