
<div class="introduction">
    <div class="image">
        <img src="assets/image/cel-y-pc-logos-nitidos-centrados.png" alt="">
    </div>
    <div class="intro">
        <section class="intro-loganweb">
        
            <div class="intro-content">
        
                <h1>&lt;LoganWeb/&gt;</h1>
        
                <h2>{{ 'intro.title' | transloco }}</h2>
        
                <p>
                    {{ 'intro.p1' | transloco }}
                </p>
        
                <p>
                    {{ 'intro.p2' | transloco }}
                </p>
        
                <p>
                    {{ 'intro.p3' | transloco }}<br>
                    <strong>{{ 'intro.p4' | transloco }}</strong>
                </p>
        
                <div class="intro-slogan">
                    <strong>&lt;LoganWeb/&gt;</strong>
                    <span>— {{ 'intro.slogan' | transloco }}</span>
                </div>
        
            </div>
        
        </section>   
    </div>
</div>
