<div class="Title">
  <h3 class="title">Registro de Usuarios</h3>
</div>
<div class="container">
    <div class="form">
      <form [formGroup]="data" class="row g-3 needs-validation" novalidate (ngSubmit)="register($event)" >
        
        <div class="mb-3">
          <label for="name" class="form-label">Nombre:</label>
          <input 
            type="text" 
            class="form-control" 
            id="name" 
            formControlName="name"
            aria-describedby="emailHelp"
            [ngClass]="{
              'is-invalid': hasErrors('name', 'required'), 
              'is-valid': data.get('name')?.valid && data.get('name')?.touched
            }"
          >
          @if (hasErrors('name', 'required')) {
            <span class="text-danger" >Debe colocar el nombre del usuario.</span>
          }
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido:</label>
          <input 
            type="text" 
            class="form-control" 
            id="lastName" 
            formControlName="lastName"
            aria-describedby="emailHelp"
            [ngClass]="{
              'is-invalid': hasErrors('lastName', 'required'), 
              'is-valid': data.get('lastName')?.valid && data.get('lastName')?.touched
            }"
          >
          @if (hasErrors('lastName', 'required')) {
            <span class="text-danger">Debe colocar el apellido del usuario.</span>
          }
        </div>
       
       
        <div class="mb-3">
          <label for="email" class="form-label">email:</label>
          <input 
            type="email" 
            class="form-control" 
            id="email" 
            formControlName="email"
            aria-describedby="emailHelp"
            [ngClass]="{
              'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email'),
              'is-valid': data.get('email')?.valid && data.get('email')?.touched
            }"
          >
          @if (hasErrors('email', 'required')) {
            <span class="text-danger">Debe ingrasar un correo electrónico.</span>
          }
          @if (hasErrors('email', 'email')) {
            <span class="text-danger">El formato de correo electrónico no es válido.</span>
          }
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password:</label>

        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            formControlName="password"
            aria-describedby="emailHelp"
            [ngClass]="{
              'is-invalid': hasErrors('password', 'required'),
              'is-valid': data.get('password')?.valid && data.get('password')?.touched
            }"
          >

          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="showPassword = !showPassword"
          >
            <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
        </div>

        @if (hasErrors('password', 'required')) {
          <span class="text-danger">
            Debe colocar una contraseña válida de al menos 8 caracteres.
          </span>
        }
        @if (hasErrors('password', 'minlength')) {
          <span class="text-danger">
            Debe colocar una contraseña válida de al menos 8 caracteres.
          </span>
        }
        </div>
        <button type="submit" class="btn btn-primary"> Registrar </button>
      </form>
    </div>
</div>

