<div class="container">
    <div id="profile">
        <app-profile/>
    </div>
    <div id="repositories">
        <h1>Bienvanidos a mis trabajos</h1>
        <h2>Repositorios:</h2>
        <app-card
        *ngFor="let repo of repoList"
        [repository]="repo.data"/>
    </div>
    <div>
        <button>
            <i class="bi bi-chat-dots-fill">
                <div id="chat">
                    <app-chat/>
                </div>
            </i>
        </button>
    </div>
    <!-- @if (IsAdmin === true) {
        <div id="chat-admin">
            <app-admin-chat/>
        </div>
    }
    @if (IsAdmin !== true || !IsAdmin) {
    } -->

    <div id="contact">
        <app-contact/>
    </div>
</div>