<div class="carousel-container">
    <button
        class="carousel-button left"
        type="button"
        (click)="previous()"
        [disabled]="selectedIndex === 0">
        <i class="bi bi-chevron-left"></i>
    </button>
    <div class="carousel-viewport">
        <div
            class="carousel-track"
            [class.position-0]="selectedIndex === 0"
            [class.position-1]="selectedIndex === 1"
            [class.position-2]="selectedIndex === 2">

            <div
                class="carousel.screen"
                [class.selected]="selectedIndex === 0"
                (click)="selectScreem(0)">
                <app-profile/>
            </div>
            
            <div
                class="carousel.screen"
                [class.selected]="selectedIndex === 1"
                (click)="selectScreem(1)">
                <app-profile-admin/>
            </div>
            
            <div
            class="carousel.screen"
            [class.selected]="selectedIndex === 2"
            (click)="selectScreem(2)">
                <app-tercer-componente/>
            </div>
        </div>
    </div>
    <button
        class="carousel-button left"
        type="button"
        (click)="next()"
        [disabled]="selectedIndex === 2">
        <i class="bi bi-chevron-right"></i>
    </button>
</div>
<div class="carousel-indicators">

    <button
        type="button"
        class="indicator"
        [class.active]="selectedIndex === 0"
        (click)="selectScreem(0)">
    </button>

    <button
        type="button"
        class="indicator"
        [class.active]="selectedIndex === 1"
        (click)="selectScreem(1)">
    </button>

    <button
        type="button"
        class="indicator"
        [class.active]="selectedIndex === 2"
        (click)="selectScreem(2)">
    </button>

</div>
