<section id="profile">
  <h2>Perfil</h2>
  <div *ngFor="let user of admin">
    <h4>{{ user.data.name }} {{user.data.lastName}} Developer </h4>
    <p>Email: {{ user.data.email }}</p>
  
    <p>Skill:  </p>
    <ul class="skill-list">
      <li *ngFor="let skill of skills">
        <a 
          [href]="skill.data.documentation"
          target="_blank"
          rel="noopener noreferrer"
          class="skill-link"
        >
          <i [class]="skill.data.image"></i>
          <img [src]="skill.data.img"/>
        </a>
        <span class="skill-name">{{ skill.data.skillName }}</span>
      </li>
    </ul>    
    
  </div>  
</section>